<?xml version='1.0' encoding='utf-8'?>
<widget id="org.ar0ne.fat_tracker" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Fat Ninja</name>
    <description>
       Your personal fatness tracker!
    </description>
    <author email="serj.ar0ne@gmail.com" href="http://">
        
    </author>
    <content src="index.html" />
    <preference name="splashscreen" value="screen" />
    <access origin="*" />
</widget>
