
body {
	-webkit-tap-highlight-color: transparent;
	background: #D1C4E9 !important; 
	width: 100%;
	height: 100%;
	box-shadow: none !important; 
}
.image-center{
	margin: 0 auto;
	text-align: center;
	display: block;
	width: auto;
	max-width: 80%;
}
[data-role=footer] a {
  	font-size: 16px !important;
}
.ui-page, div {
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden; /* Chrome and Safari */
    -moz-backface-visibility:hidden; /* Firefox */
}
body :not(INPUT):not(TEXTAREA) {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.ui-radio label {
	background-color: #f9f9f9 !important;
	border: none ;
}

.ui-radio label.ui-btn-active  {
	background-color: #4CAF50 !important;
	border-color: #4CAF50 !important;
	border-radius: 0 !important;
	text-shadow: 0 1px 0 #388e3c !important;
}

.ui-focus {
	/*box-shadow: 0 0 12px #38c*/
	box-shadow: none !important;
}

.ui-shadow-inset {
	box-shadow: none !important;
}

.ui-input-text, .ui-input-search {
	color: #555 !important;
	border-left: none !important;
	border-right: none !important;
	border-top: none !important;
	border-bottom: 1 !important;
	/*background-color: #f9f9f9 !important;*/
	border-radius: 0 !important;
}

.ui-btn, .ui-link, .ui-listview {
	box-shadow: none !important;
	background-color: #673AB7 !important;
	color: #FFFFFF !important;
	text-shadow: none !important;
}
.ui-btn.stop {
	background-color: #FF5722 !important;
}


.ui-content fieldset {
	text-align: center;
}

.ui-checkbox-on:after{
	/*background-color: #4CAF50 !important;*/
}

.ui-corner-all {
	border-radius: 0 !important;
}

.ui-listview > li a {
	border: none !important;
}

.ui-listview > li a:hover{
	/*background-color: #C8E6C9 !important;*/
}

.ui-header, .ui-footer, .ui-navbar {
	background-color: #512DA8 !important;
	border: none !important;
}
.ui-link {
	background-color: #673AB7 !important;
	text-shadow: none !important;
	color: #FFFFFF !important;
	border: none !important;
}

.ui-link:hover, .ui-link.active {
	background-color: #512DA8 !important;
}
#countdown , #clock{
	margin: 0 auto;
	text-align: center;
}
#sit_timer_stop, #sit_timer_start {
	margin-top: 2em;
}
.image-top-center {
	width: 100% !important;
	height: auto !important;
	margin: 0 !important;
}
.ui-listview li a:hover{
	background-color: #D1C4E9 !important;
}

.ui-content .ui-listview, .ui-panel-inner > .ui-listview {
	margin: 0 !important;
}

/* Left transition */
li.left {
    -webkit-transition: -webkit-transform 250ms ease;
    -webkit-transform: translateX(-100%);
    -moz-transition: -moz-transform 250ms ease;
    -moz-transform: translateX(-100%);
    -o-transition: -o-transform 250ms ease;
    -o-transform: translateX(-100%);
    transition: transform 250ms ease;
    transform: translateX(-100%);
}
/* Right transition */
li.right {
    -webkit-transition: -webkit-transform 250ms ease;
    -webkit-transform: translateX(100%);
    -moz-transition: -moz-transform 250ms ease;
    -moz-transform: translateX(100%);
    -o-transition: -o-transform 250ms ease;
    -o-transform: translateX(100%);
    transition: transform 250ms ease;
    transform: translateX(100%);
}
/* Border bottom for the previous button during the transition*/
li.left a.ui-btn,
li.right a.ui-btn {
    border-top-width: 0;
    border-left-width: 1px;
    border-right-width: 1px;
}
li a.ui-btn.border-bottom {
    border-bottom-width: 1px;
}
/* Hide the delete button on touch devices */
ul.touch li.ui-li-has-alt a.delete {
    display: none;
}
ul.touch li.ui-li-has-alt a.ui-btn {
    margin-right:0;
}
/* Styling for the popup */
#confirm p {
    text-align: center;
    font-size: inherit;
    margin-bottom: .75em;
}
#learn_1, #learn_2, #learn_3, #learn_4 {
	background: #009688 !important; 
}

.ui-page-theme-a .ui-btn:active, html .ui-bar-a .ui-btn:active, html .ui-body-a .ui-btn:active, html body .ui-group-theme-a .ui-btn:active, html head + body .ui-btn.ui-btn-a:active {
	background-color: #D1C4E9;
}

.canvasjs-chart-credit.ui-link {
	display: none;
} 

.ui-content p {
	text-align: center;
	color: #FFFFFF;
}

#eat p {
	color: #FFFFFF;
	font-weight: normal;
	box-shadow: none;
	text-shadow: none;
}

#question, #question_complete{
	color: #212121 !important;
}

.ui-icon-sweet {
	background: url("images/fast-food8.png") no-repeat rgba(0, 0, 0, 0.4) !important;
	background-size: 16px 16px !important;
}

#yandex_page .ui-content{
	padding: 0;
}

#yandex_page ymaps p, #yandex_page p {
	color: #212121;
}

#sit p {
	color: #212121; 
}